<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
	                    http://www.springframework.org/schema/context  
	                    http://www.springframework.org/schema/context/spring-context-3.2.xsd  
	                    http://www.springframework.org/schema/tx  
	                    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd  
	                    http://www.springframework.org/schema/aop  
	                    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- Opction1: App1
	<bean id="datos" class="com.mios.spring3.playing.comp.Datos" />
	 -->
	
	<!-- Option2: App2 
	<bean name="myDatos" class="com.mios.spring3.playing.comp.Datos" autowire="byName"/>
	-->
	
	<!-- Option3: App3 
	<context:component-scan base-package="com.mios.spring3.playing" />	
	<bean name="myComp" class="com.mios.spring3.playing.comp.MyComp"/>
	-->	
	
</beans>